.completedTask {
    color: green;
    text-decoration-line: line-through;
}

.notCompletedTask {
    text-decoration-line: none;
    color: black;
}

.container{
    text-align: center;
}

.element{
    font-size: 1.3rem;
}

.fa-solid, .fa-sharp, .fa-regular{
    font-size: 1.7rem;
    cursor: pointer;
}

.fa-square-check{
    color: green;
}

.fa-trash-can{
    color: red;
}

.fa-star{
    color: #fbd309;
}

.fa-rotate-left{
    color: green;
}

.row{
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.btn{
    border: 0;
}