.active{
    color: darkcyan;
    font: bold;
    text-shadow: 1px 1px darkcyan;
}

.fa-solid, .fa-sharp, .fa-regular{
    font-size: 1.7rem;
    cursor: pointer;
}

.fa-square-check{
    color: green;
}

.fa-trash-can{
    color: red;
}

.fa-star{
    color: #fbd309;
}