<nav *ngIf="nav.visible" class="navbar navbar-expand-lg navbar-light bg-light p-2">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" [routerLink]="['todos']" routerLinkActive="active">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link me-4" [routerLink]="['contactus']" routerLinkActive="active">Contact Us</a>
        </li>
        
        <li *ngIf="isLoggedIn" class="nav-item ps-4">
          <i class="nav-link" [routerLink]="['favouritesTodos']" routerLinkActive="active" class="fa-solid fa-regular fa-star p-2"></i>
          <span>{{numOfFavouriteTodos}}</span>
        </li>
        
        <li *ngIf="isLoggedIn" class="nav-item ps-4">
          <i class="nav-link" [routerLink]="['completedTodos']" routerLinkActive="active" class="fa-solid fa-square-check p-2"></i>
          <span>{{numOfCompletedTodos}}%</span>
        </li>

        <li *ngIf="isLoggedIn" class="nav-item ps-4">
          <i class="nav-link" [routerLink]="['deletedTodos']" routerLinkActive="active" class="fa-solid fa-trash-can p-2"></i>
          <span>{{numOfDeletedTodos}}</span>
        
        </li>
      </ul>
      
      <div class="d-flex">
        
        <button *ngIf="!isLoggedIn" [routerLink]="['login']" class="btn btn-outline-success p-1 ps-2 pe-2 ms-2 me-2">Login</button>
        
        <button *ngIf="!isLoggedIn" [routerLink]="['signup']" class="btn btn-outline-primary p-1 ps-2 pe-2 ms-2 me-2">SignUp</button>
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" [routerLink]="['profile']" routerLinkActive="active">{{loggedInUsername}}</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link" [routerLink]="['profile']" routerLinkActive="active"><img src="../../../assets/gray-user-profile-icon-png-fP8Q1P.png" class="img-fluid" width="30px" height="30px"></a>
          </li>
        </ul>
      
        <button *ngIf="isLoggedIn" (click)="logout()" class="btn btn-outline-danger p-1 ps-2 pe-2 ms-2 me-2">LogOut</button>
      
      </div>
    </div>
  </div>
</nav>