.completedTask {
    color: green;
    text-decoration-line: line-through;
}

.notCompletedTask {
    text-decoration-line: none;
    color: black;
}

.container{
    text-align: center;
}

input{
    display: inline;
}

ul{
    list-style: none;
}

ul>li{
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 0.5rem;
}

.element{
    font-size: 1.3rem;
}

.fa-solid{
    font-size: 1.7rem;
    cursor: pointer;
}

.fa-square-plus{
    color: darkblue;
    font-size: 2.5rem;
    position: relative;
    top: 0.5rem;
}

.fa-square-check{
    color: green;
}

.fa-trash-can{
    color: red;
}
